{% extends 'baseAdmin.html.twig' %}

{% block title %}Edition evenement{% endblock %}

{% block body %}
    <h1>Edition d'évenement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-secondary" href="{{ path('event_index') }}">Retour</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
