{% extends 'baseAdmin.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Ajout d'un évenement</h1>

    {{ include('event/_form.html.twig') }}

    <a class="btn" href="{{ path('event_index') }}">Retour</a>
{% endblock %}
