{% extends 'baseAdmin.html.twig' %}

{% block title %}ajout média{% endblock %}

{% block body %}
    <h1>Ajouter un média</h1>

    {{ include('picture/_form.html.twig') }}

    <a class="btn" href="{{ path('picture_index') }}">Retour</a>
{% endblock %}
