{% extends 'baseAdmin.html.twig' %}

{% block title %}Réserver ticket{% endblock %}

{% block body %}
    <h1>Réservation de votre ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <a class="btn" href="{{ path('home') }}">retour au site</a>
{% endblock %}
