{% extends 'baseAdmin.html.twig' %}

{% block title %}edition artiste{% endblock %}

{% block body %}
    <h1>Edition d'artiste</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'mettre à jour'}) }}

    <a class="btn btn-secondary" href="{{ path('artist_index') }}">retour à la liste</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
