{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout artiste{% endblock %}

{% block body %}
    <h1>Ajout Artiste</h1>

    {{ include('artist/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('artist_index') }}">retour</a>
{% endblock %}
