<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                {{ website.title }}
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home"><h4>Accueil</h4></a></li>
                <li><a href="#services"><h4>Dates</h4></a></li>
                <li><a href="#pricing"><h4>Prix</h4></a></li>
                <li><a href="#work"><h4>Au programme</h4></a></li>
                <li><a href="#team"><h4>Membre de la troupe</h4></a></li>
                <li><a href="#contact"><h4>Contact</h4></a></li>
            </ul>
        </div>

    </div>
</div>